<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/application.css">

    <script src="/javascripts/application.js"></script>

    <title><%= title %></title>
  </head>

  <body>
    <div class="container-fluid table-div">
      <div class="row cell-div">
        <form id="jobApplication">
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email" name="email" required>
          </div>

          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" placeholder="Enter your name" id="name" name="name" required>
          </div>

          <div class="form-group">
            <label for="position">Position:</label>
            <select class="form-control" id="position" name="position" required>
              <option>Backend Engineer</option>
              <option>Frontend Engineer</option>
            </select>
          </div>

          <div class="form-group">
            <label for="highestQualification">Highest Qualification:</label>
            <select class="form-control" id="position" name="highestQualification" required>
              <option>BE</option>
              <option>Diploma</option>
            </select>
          </div>

          <div class="form-group resume">
            <input type="file" class="form-control-file" name="resumeFile" accept=".docx,.pdf">
            <p class="text-muted">Max size 3MB | .docx or .pdf files only</p>

            <label for="name">Resume URL:</label>
            <input type="url" class="form-control" placeholder="Resume Link" id="resumeLink" name="resumeLink">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
