<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/application.css">

    <script src="/javascripts/application.js"></script>

    <title><%= title %></title>
  </head>

  <body>
    <div class="container-fluid table-div">
      <div class="row cell-div">
        <form>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" placeholder="Enter email" name="email">
          </div>

          <div class="form-group">
            <label for="pwd">Name:</label>
            <input type="password" class="form-control" placeholder="Enter password" name="name">
          </div>

          <div class="form-group">
            <label for="position">Position:</label>
            <select class="form-control" id="position" name="position">
              <option>Backend Engineer</option>
              <option>Frontend Engineer</option>
            </select>
          </div>

          <div class="form-group">
            <label for="highestQualification">Highest Qualification:</label>
            <select class="form-control" id="position" name="highestQualification">
              <option>BE</option>
              <option>Diploma</option>
            </select>
          </div>

          <div class="form-group">
            <input type="file" class="form-control-file border" name="resume">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
